.checkbox_title {
  margin-top: 30px;
  text-align: center;
}

.checkbox_container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
  margin: 30px auto;
}

.checkbox_container div {
  margin: 10px;
}

.checkbox_container > div > div input {
  margin-right: 10px;
  transform: scale(1);
  position: relative;
}

.checkbox_container > div > div input::before {
  border: solid 1px black;
  border-radius: 4px;
  padding-left: 2px;
  background: white;
  position: absolute;
  top: -2px;
  left: -8px;
  display: block;
  width: 17px;
  height: 17px;
  content: "";
  box-sizing: unset;
}

.checkbox_container > div > div input:checked::before {
  background-color: white;
  color: #448c7e;
  content: "\2713";
  font-weight: 900;
  font-size: 18px;
  line-height: 14px;
}

@media (max-width: 990px) {
  .checkbox_container {
    width: 50%;
  }
}

@media (max-width: 440px) {
  .checkbox_container {
    width: 95%;
  }

}
