.nav_container {
  background-color: #448c7e;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_logo {
  border-radius: 10px;
}

.logo_links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.responsive_links {
  align-items: center; 
  margin-top: 10px !important;
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: space-around;
}



.services_list {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service_item {
  list-style: none;
  padding-right: 20px;
}

.social_icons_container {
  display: flex;
}

.social_media_icon {
  font-size: 32px;
  margin-right: 50px;
  background-color: #448c7e;
  color: #fff;
}

.services {
  position: relative;
  color: #fff;
}

.services:hover {
  cursor: pointer;
}

.services_nav_link {
  color: #fff;
  text-decoration: none;
  width: 500px !important;
  padding: 20px 90px 0px 0px;
}

.nav_item {
  list-style: none;
  color: #fff !important;
}

.nav_item a {
  text-decoration: none;
  color: #fff !important;
}

.services_menu {
  position: absolute;
  left: 270px; 
  top: 90px;
  z-index: 10000;
}

.services_menu ul {
  background-color: #448c7e;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
}

.services_menu li {
  position: relative;
  list-style: none;
  padding-left: 15px;
  color: #fff;
  transition: 0.3s;
}

.services_menu li:hover {
  color: #448c7e !important;
  background-color: #ebedf0;
  width: 200px;
}

.hamburger_menu {
  display: none;
}

@media (max-width: 992px) {
  .nav_container .hamburger_menu {
    display: block;
    font-size: 30px;
    padding: 5px;
    color: #fff;
  }

  .container .responsive_links,
  .social_icons_container {
    display: none !important;
  }
}
