.home_page_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.home_page_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_page_middle {
  margin-bottom: 50px;
  height: 6rem;
  background-color: #448c7e;
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 24px;
}

/* h3 {
  font-size: 1.2rem;
} */

.home_page_bottom_container {
  width: 90%;
  margin: 0 auto;
}

/* h2 {
  text-align: center;
  margin-bottom: 50px;
} */

.home_page_bottom_section {
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
}

.home_page_image {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: "rgba(0, 0, 0, 0.35) 0px 5px 15px !important";
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
}

.home_page_description {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 10px auto;
}

.home_page_description p {
  margin: 20px;
}

.box3 {
  grid-area: box3;
}

.bottom_pic {
  width: 500px;
  height: 300px;
  box-shadow: 2px 2px 2px #888;
  border-radius: 1rem;
}

@media (max-width: 1305px) {
  .home_page_bottom_section,
  .home_page_image,
  .home_page_description,
  .box3 {
    font-size: 0.9rem;
    display: block;
  }

  .home_page_image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* img {
    width: 60%;
    height: 40%;
  } */
}

.home_page_description {
  margin-top: 1.4rem;
}

.contact_btn {
  background-color: rgb(31, 30, 30);
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  transition: 0.4s;
  color: #fff;
}

.contact_btn:hover {
  background-color: #448c7e;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .slide_show {
    height: 30vh;
    padding-top: 2rem;
  }
  .home_page_image img {
    width: 100%;
  }

  .darken {
    height: 30vh !important;
  }

  .home_page_bottom_container {
    padding-top: 0px;
  }

  .arrow_right_container .arrow_left_container {
    top: 39% !important;
    right: 5% !important;
  }
}
