.services_main_container {
  margin-top: 1rem;
}

.services_main_container h1 {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.services_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_image_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services_main_container p {
  text-align: left;
}

.services_description {
  width: 90%;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
}

.power_washing {
  width: 90%;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
}

.stump_removal, .stone_pavers {
  width: 90%;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
}

.services_description h3 {
  display: flex;
  justify-content: left;
}

.lawn_care, .rain_gardens {
  display: flex;
  gap: 30px;
  align-items: center;
}

.image {
  box-shadow: " rgba(0, 0, 0, 0.35) 0px 5px 15px !important";
}

/* .services_description .image {
  width: 30rem;
  height: 18rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #888;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .services_description #lawn-care .image {
  background-image: url("../images/lawn-care.png");
}

.services_description #power-washing .image {
  background-image: url("../images/power-washing.jpg");
}

.services_description #snow-removal .image {
  background-image: url("../images/snow-removal.png");
}

.services_description #stump-removal .image {
  background-image: url("../images/stump-removal.jpg");
} */

@media only screen and (max-width: 900px) {
  .services_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.9rem;
  }

  #stone_pavers,
  #stump_removal {
    flex-direction: column-reverse;
  }

  .services_description .image {
    align-items: center;
    width: 31rem;
    height: 24rem;
  }

  .services_image_description {
    margin-top: 2rem;
    max-width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .lawn_care, .rain_gardens{
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
  }

  .power_washing {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .stump_removal, .stone_pavers {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .services_description .image {
    align-items: center;
    width: 21rem;
    height: 24rem;
  }
}

.image {
  height: 200px;
  width: 200px;
  background-color: azure;
}
