.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.quote {
  text-align: left;
  margin-top: 40px;
}

.testimonial_container {
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.testimonial_container img {
  margin-top: 1rem;
  height: 23rem;
  width: 32rem;
  border-radius: 10px;
  box-shadow: none;
}

.testimonial_container_client {
  padding-top: 2rem;
}

.testimonial_container_client img {
  margin: 1rem 1rem;
  height: 130px;
  width: 130px;
  border-radius: 50% !important;
}

.title {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.testimonial_person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_person span {
  margin-left: 10px;
}

@media (max-width: 1043px) {
  .testimonial_container p {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial_person {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .testimonial_container_client {
    max-width: 90%;
  }

  .testimonial_person {
    max-width: 80%;
    margin: 0 auto;
  }

  .testimonial_container p {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial_pic img {
    max-width: 90%;
    margin: 0 auto;
  }
}
